td>img {
    width: 100%;
    height: 250px;
    object-fit: contain;
}
h1{
    text-align: center;
}
table{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 10%;
    border-radius: 2px;
}
html{
    background-color: whitesmoke;
}
